<!--<![endif]-->
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="fileadmin/templates/images/favicon.ico" type="image/x-icon; charset=binary">
<link rel="icon" href="fileadmin/templates/images/favicon.ico" type="image/x-icon; charset=binary">
<title>Universidad Nacional de Colombia: FADMON</title>
<meta name="revisit-after" content="1 hour">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
<base href="">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/unalhome.css" media="all">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/tablet.css" media="only screen and (min-width: 992px) and (max-width: 1199px)">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/phone.css" media="only screen and (min-width: 768px) and (max-width: 991px)">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/small.css" media="only screen and (max-width: 767px)">

<!-- acciones para formularios con la clase ".unal-form" -->
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/form.css" media="all">
<link rel="stylesheet" type="text/css" href="fileadmin/templates/css/bootstrap-select.min.css" media="all">
<script src="fileadmin/templates/js/bootstrap-select.min.js" type="text/javascript"></script>

<script>jQuery(document).ready(function($){$('select','form').selectpicker();})</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js , ga );
ga('create', 'UA-57104928-1', 'auto');
ga('send', 'pageview');
</script>

<!-- fin acciones para formulario -->
<div id="allPage">
	<div id = "encabezado">

		<header id="unalTop">
		<div class="logo">
			<a href="http://www.manizales.unal.edu.co">
			<img alt="Escudo de la Universidad Nacional de Colombia" src="fileadmin/templates/images/escudounal.png" width="189" height="70" title="Escudo de la Universidad Nacional de Colombia"/>
			</a>
			<div class="diag">
			</div>
		</div>
		<div class="seal">
			<img alt="Escudo de la República de Colombia" src="fileadmin/templates/images/sealcolombia.png" width="66" height="66" title="Escudo de la República de Colombia"/>
		</div>
		<div class="firstMenu">
			<div class="btn-group tx-srlanguagemenu">
				<div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					 ES <span class="caret"></span>
				</div>
				<ul class="dropdown-menu" role="menu">
				</ul>
			</div>
			<ul class="socialLinks">
				<li><a href="#" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a></li>
				<li><a href="#" target="_blank" class="facebook" title="Página oficial en Facebook"></a></li>
				<li><a href="#" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a></li>
			</ul>
			<div class="navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="item_Aspirantes"><a href="http://aspirantes.unal.edu.co" target="_top">Aspirantes</a></li>
					<li class="item_Estudiantes"><a href="http://estudiantes.unal.edu.co" target="_top">Estudiantes</a></li>
					<li class="item_Egresados"><a href="http://egresados.unal.edu.co" target="_top">Egresados</a></li>
					<li class="item_Docentes"><a href="http://docentes.unal.edu.co" target="_top">Docentes</a></li>
					<li class="item_Administrativos"><a href="http://administrativos.unal.edu.co" target="_top">Administrativos</a></li>
				</ul>
				</nav>
			</div>
		</div>
			<div class="navigation">
				<div class="site-url">
					<div class="icon">
					</div>
					<a href="http://cdiac.manizales.unal.edu.co/" target="_top" style="color:#FFFFFF;">cdiac.manizales.unal.edu.co/</a>
				</div>
					<f:cObject typoscriptObjectPath="lib.siteURL"></f:cObject>
					<f:cObject typoscriptObjectPath="lib.navigation"></f:cObject>
					<f:format.raw>{navigation}</f:format.raw>
			</div>
			<div class="buscador">
				<gcse:searchbox-only resultsurl="http://unal.edu.co/resultados-de-la-busqueda/"></gcse:searchbox-only>
			</div>
		</header>
	</div>
	<div id="services">
		<div class="indicator">
		</div>
		<ul>
			<li><img src="fileadmin/templates/images/icnservemail.png" width="32" height="32" border="0" alt=""><a href="http://correo.unal.edu.co" target="_top">Correo institucional</a></li>
			<li><img src="fileadmin/templates/images/icnservport.png" width="32" height="32" border="0" alt=""><a href="http://www.fadmon.unal.edu.co/?id=127" target="_top">Portafolio de servicios</a></li>
			<li><img src="fileadmin/templates/images/icnservinf.png" width="32" height="32" border="0" alt=""><a href="http://www.fadmon.unal.edu.co/?id=72" target="_top">Informes de gestión</a></li>
			<li><img src="fileadmin/templates/images/icnservacts.png" width="32" height="32" border="0" alt=""><a href="http://www.fadmon.unal.edu.co/?id=163" target="_top">Actas consejo de Facultad</a></li>
			<li><img src="fileadmin/templates/images/icn_practicas.png" width="32" height="32" border="0" alt=""><a href="http://www.fadmon.unal.edu.co/?id=33" target="_top">Prácticas</a></li>
			<li><img src="fileadmin/templates/images/icnservsia.png" width="32" height="32" border="0" alt=""><a href="http://www.sia.unal.edu.co" target="_top">Sistema de Información Académica</a></li>
			<li><img src="fileadmin/templates/images/icnservlibrary.png" width="32" height="32" border="0" alt=""><a href="http://www.sinab.unal.edu.co" target="_top">Bibliotecas</a></li>
			<li><img src="fileadmin/templates/images/icnservcall.png" width="32" height="32" border="0" alt=""><a href="http://168.176.5.43:8082/Convocatorias/indice.iface" target="_blank">Convocatorias</a></li>
		</ul>
	</div>
<!--	<div class="home-image">
		<img src="fileadmin/templates/images/img_demo.jpg" width="2000" height="80" border="0" alt="">
	</div>
-->
	<div class="image-container">
			<div class="header">
			<div id="migadepan">
				Está en: <f:cObject typoscriptObjectPath="lib.rootline"></f:cObject>
			</div>
			<f:render section="content"/>
	<div id="foot">
		<footer>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 gobiernoLinea">
				<div class="navbar-">
					<div class="btn-group">
						<a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
					</div>
					<div class="btn-group">
						<a href="http://www.unal.edu.co/dnp" target="_top">Talento humano</a>
					</div>
					<div class="btn-group">
						<a href="http://www.unal.edu.co/contratacion/" target="_top">Contratación</a>
					</div>
					<div class="btn-group">
						<a href="http://www.unal.edu.co/dnp/" target="_top">Ofertas de empleo</a>
					</div>
					<div class="btn-group">
						<a href="http://www.unal.edu.co/rendicion_de_cuentas/2012/" target="_top">Rendición de cuentas</a>
					</div>
					<div class="btn-group">
						<a href="http://www.concursoprofesoralun.unal.edu.co/ConcursoDocente/news.php" target="_top">Concurso docente</a>
					</div>
					<div class="btn-group">
						<a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
					</div>
					<div class="btn-group">
						<a href="http://www.unal.edu.co/control_interno/index.html" target="_top">Control interno</a>
					</div>
					<div class="btn-group">
						<a href="http://www.simege.unal.edu.co" target="_top">Calidad</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-3 col-xs-6 gobiernoLinea gobiernoLinea2">
				<div class="navbar-">
					<div class="btn-group">
						<a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
					</div>
					<div class="btn-group">
						<a href="http://www.fadmon.unal.edu.co/top/mapa-del-sitio.html" target="_self">Mapa del sitio</a>
					</div>
					<div class="btn-group">
						<a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/faq/" target="_self">FAQ</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
					</div>
					<div class="btn-group">
						<a href="http://www.fadmon.unal.edu.co/top/contactenos.html" target="_self">Contáctenos</a>
					</div>
					<div class="btn-group">
						<a href="http://www.onp.unal.edu.co" target="_top">Estadísticas</a>
					</div>
					<div class="btn-group">
						<a href="http://unal.edu.co/glosario/" target="_self">Glosario</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 footer-info col-lg-4 col-sm-4 col-xs-12">
				<div class="csc-frame csc-frame-indent">
					<p class="bodytext">
						<b>Contacto página web:<br></b>Carrera 27 # 64-60<br>Campus Palogrande<br>Manizales,&nbsp; Colombia<br>Línea &nbsp;01 8000 916956
					</p>
				</div>
				<div class="csc-frame csc-frame-indent">
					<p class="bodytext">
						© Copyright <f:cObject typoscriptObjectPath="lib.copyYear"></f:cObject><br/>Algunos derechos reservados.<br/>
						<a href="mailto:sfadmon_man@unal.edu.co" title="Comuníquese con el webmaster de la Universidad Nacional de Colombia" class="mail">sfadmon_man@unal.edu.co</a><br/><a href="http://unal.edu.co/acerca-de-este-sitio-web/" title="Acerca de la web de la Universidad Nacional de Colombia" target="_blank" class="internal-link">Acerca de este sitio web<br/></a>
					</p>
					<div class="csc-default">
						<p>
							Actualización: <f:cObject typoscriptObjectPath="lib.updateDate"></f:cObject>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 logos">
				<a href="http://www.orgulloun.unal.edu.co"><img alt="Orgullo UN" src="fileadmin/templates/images/log_orgullo.png" width="78" height="21" title="Orgullo UN"/></a>
				<a href="http://www.agenciadenoticias.unal.edu.co/inicio.html" class="imgAgencia"><img alt="Agencia de Noticias" src="fileadmin/templates/images/log_agenc.png" width="78" height="21" title="Agencia de Noticias"/></a>
				<div class="clear">
				</div>
				<a href="http://www.gobiernoenlinea.gov.co/web/guest"><img alt="Programa gobierno en línea" src="fileadmin/templates/images/log_gobiern.png" width="67" height="51" title="Programa gobierno en línea"/></a>
				<a href="http://www.contaduria.gov.co/"><img alt="Contaduría general de la republica" src="fileadmin/templates/images/log_contra.png" width="67" height="51" title="Contaduría general de la republica"/></a>
			</div>
		</div>
		</footer>
	</div>
			</div>

	</div>
</div>
<script src="fileadmin/templates/js/unal.js" type="text/javascript"></script>
</body>
</html>
