{namespace i=TYPO3\CMS\Install\ViewHelpers}

<h1></h1>

<h2>Login to TYPO3 {typo3Version} Install Tool</h2>

<div id="t3-install-box-body">
	<h3>Site: {siteName}</h3>

	<form method="post" id="t3-install-form-login">
		<f:render partial="Action/Common/HiddenFormFields" arguments="{_all}" />
		<fieldset>
			<ol>
				<li class="t3-install-form-label-width-7">
					<label for="t3-install-form-password">Password</label>
					
					<input id="t3-install-form-password" type="password" name="install[values][password]" class="t3-install-form-input-text" autofocus="autofocus" />
				</li>
			</ol>
		</fieldset>

		<f:render partial="Action/Common/SubmitButton" arguments="{name:'login', text:'Login'}"/>
	</form>
</div>
<div id="t3-install-box-border-bottom">&nbsp;</div>

<f:if condition="{messages}">
	<f:for each="{messages}" as="message">
		<f:render partial="Action/Common/StatusMessage" arguments="{message: message}" />
	</f:for>
</f:if>

<p class="typo3-message message-information">
	By default the install tool password is the one specified during the installation.
</p>
<p class="typo3-message message-warning">
	If you don't know the current password, you can set a new one by setting the value of
	$TYPO3_CONF_VARS['BE']['installToolPassword'] in typo3conf/LocalConfiguration.php to
	the hash value of the password you desire, which will be shown if you enter the desired password
	in this form and submit it.
	<br /><br />
	This password gives an attacker full control over your instance if cracked. It should be strong
	(include lower and upper case characters, special characters and numbers) and at least eight characters long.
</p>