<h3 class="text-left">Boletines Ambientales 1990</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1990/boletin1.pdf" target="_blank">Boletín 1. La Responsabilidad Cívica Frente al Ambiente</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1990/boletin2.pdf" target="_blank">Boletín 2. Desarrollo Sostenido en la Prospectiva de la Problemática Ambiental y la Supervivencia </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1991</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1991/boletin3.pdf" target="_blank">Boletín 3. Recordar los Ceroxylones</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1991/boletin4.pdf" target="_blank">Boletín 4. Ciencia, Cultura y Medio Ambiente  </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1992</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1992/boletin5.pdf" target="_blank">Boletín 5. UNCED: La Cumbre Ambiental de Brasil 92</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1992/boletin6.pdf" target="_blank">Boletín 6. La Sed de los Cafetos</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1992/boletin7.pdf" target="_blank">Boletín 7. La Recreación en Manizales: Un Componente Esencial de lo Ambiental</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1992/boletin8.pdf" target="_blank">Boletín 8. Medio Ambiente y Desarrollo Urbano </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1993</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin9.pdf" target="_blank">Boletín 9. Hace Dos Años Nació el IDEA </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin10.pdf" target="_blank">Boletín 10. Edición Especial Día de la Tierra </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin11.pdf" target="_blank">Boletín 11. En Busca de la Ciudad Sostenible</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin12.pdf" target="_blank">Boletín 12. Efectos Económicos de los Desastres Naturales</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin13.pdf" target="_blank">Boletín 13. Reflexiones sobre Tecnología y Medio Ambiente  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin14.pdf" target="_blank">Boletín 14. Idea del Progreso </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin15.pdf" target="_blank">Boletín 15. Un Tratamiento Orgánico para la Agricultura </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin16.pdf" target="_blank">Boletín 16. Energía y Sociedad</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1993/boletin17.pdf" target="_blank">Boletín 17. Destino y Esperanza de la Tierra </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1994</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1994/boletin18.pdf" target="_blank">Boletín 18. Arco Energético para el Eje Cafetero </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1994/boletin19.pdf" target="_blank">Boletín 19. Sobre Planificación Urbana</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1994/boletin20.pdf" target="_blank">Boletín 20. El Agua un Equilibrio Frágil </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1994/boletin21.pdf" target="_blank">Boletín 21. El Ambiente un Recurso para Administrar </a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1995</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1995/boletin22.pdf" target="_blank">Boletín 22. Medio Ambiente, Desarrollo y Equidad  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1995/boletin23.pdf" target="_blank">Boletín 23. Las Biociudades: Un Modelo Ambiental para el Desarrollo Urbano Sostenible en Colombia</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1995/boletin24.pdf" target="_blank">Boletín 24. Reflexiones sobre la Propiedad de la Biodiversidad </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1995/boletin25.pdf" target="_blank">Boletín 25. Educación Ambiental Ciudadana</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1995/boletin26.pdf" target="_blank">Boletín 26. El Cataclismo de Damocles</a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1996</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin27.pdf" target="_blank">Boletín 27. Un Lustro de Ideas </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin28.pdf" target="_blank">Boletín 28. Enfoque Histórico Ambiental del Patrimonio Arquitectónico </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin29.pdf" target="_blank">Boletín 29. La Educación Ambiental: Una Luz para Encender el Mañana </a>  </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin30.pdf" target="_blank">Boletín 30. Violencia y Medio Ambiente </a>	</span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin31.pdf" target="_blank">Boletín 31. Ética Ambiental  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin32.pdf" target="_blank">Boletín 32. Reflexiones sobre un Sistema de Educación Ambiental </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1996/boletin33.pdf" target="_blank">Boletín 33. El Hombre y su Crisis Ambiental</a>  </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1997</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin34.pdf" target="_blank">Boletín 34. La Bioarquitectura  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin35.pdf" target="_blank">Boletín 35. Notas sobre Desarrollo Sostenible </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin36.pdf" target="_blank">Boletín 36. Segundo Congreso de Educación Ambiental </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin37.pdf" target="_blank">Boletín 37. Sobre la Consideración del Medio Físico en el Ordenamiento Ambiental y Territorial en Colombia  </a>	</span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin38.pdf" target="_blank">Boletín 38. La Naturaleza Hay que Saberla Transformar  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin39.pdf" target="_blank">Boletín 39. Regiones del Desarrollo Sostenible </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin40.pdf" target="_blank">Boletín 40. El Biomanizales: Sueño y Realidad </a>  </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1997/boletin41.pdf" target="_blank">Boletín 41. Comentarios sobre Indicadores de Calidad Ambiental Urbana  	</a>  </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1998</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1998/boletin42.pdf" target="_blank">Boletín 42. Los Planes de Acción Ambiental Local Villamaría-Caldas</a>  </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1998/boletin43.pdf" target="_blank">Boletín 43. Cultura Urbana, Cultura Agraria y Perspectiva Ambiental: Presupuestos Epistemológicos </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1998/boletin44.pdf" target="_blank">Boletín 44. Cultura Urbana, Cultura Agraria y Perspectiva Ambiental </a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 1999</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1999/boletin45.pdf" target="_blank">Boletín 45. Al Bahareque le Fue Muy Bien  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_1999/boletin46.pdf" target="_blank">Boletín 46. Día Mundial del Medio Ambiente </a>  </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2000</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2000/boletin47.pdf" target="_blank">Boletín 47. El Observatorio Territorial. Una Ambición para el Territorio Colombiano: La Ley Orgánica de Ordenamiento Territorial</a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2001</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2001/boletin48.pdf" target="_blank">Boletín 48. En la globalización Neoliberal el Medio Ambiente también Debe Ser un Negocio </a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2002</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2002/boletin49.pdf" target="_blank">Boletín 49. “PLANALTO”. Una Joya Ecológica de la Selva Andina Tropical </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2002/boletin50.pdf" target="_blank">Boletín 50. “PLANALTO.” Un Nodo Estratégico en la Planificación y Gestión Ambiental del Biomanizales  </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2003</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2003/boletin51.pdf" target="_blank">Boletín 51. La Ciudad Como Ecosistema: El Metabolismo Urbano</a>  </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2006</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2006/boletin52.pdf" target="_blank">Boletín 52. Renace el Boletín Ambiental del IDEA con el listado de todas las publicaciones y su autor a la fecha </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2006/boletin53.pdf" target="_blank">Boletín 53. “Midiendo lo Inmedible” Indicadores de Vulnerabilidad y Riesgo </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2007</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin54.pdf" target="_blank">Boletín 54. Colombia: La Distancia entre el Medio Ambiente y el Ordenamiento Territorial Es…”Cada Día Más Grande”  	</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin55.pdf" target="_blank">Boletín 55. La Sostenibilidad en la Época de la Globalización  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin56.pdf" target="_blank">Boletín 56. Caracterización de los Sistemas de Producción y Usos del Suelo en la Cuenca del río La Miel</a>  </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin57.pdf" target="_blank">Boletín 57. Los Plásticos como Residuos. Antecedentes y Problemática Ambiental </a> 	</span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin58.pdf" target="_blank">Boletín 58. El Proceso de Urbanización de las Cuencas Hidrográficas  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin61.pdf" target="_blank">Boletín 61. Bosques para la Estabilidad del Medio Ambiente  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin62.pdf" target="_blank">Boletín 62. ¿Puede el Pensamiento Ambiental Superar el Estado de Crisis de la Cultura?  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2007/boletin63.pdf" target="_blank">Boletín 63. Una Visión y Dos Enfoques de Manizales </a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2008</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin64.pdf" target="_blank">Boletín 64. El Recurso Hídrico en el Ordenamiento Ambiental del Territorio </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin65.pdf" target="_blank">Boletín 65. La Educación Ambiental como Soporte de la Democracia  </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin66.pdf" target="_blank">Boletín 66. Turismo en la Amazonía. ¿Bonanza extractiva o instrumento para su adecuado desarrollo? </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin67.pdf" target="_blank">Boletín 67. Hacia una Educación Ambiental </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin68.pdf" target="_blank">Boletín 68. Apuntes sobre el Clima en Manizales </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin69.pdf" target="_blank">Boletín 69. Globalización y Seguridad Alimentaria. Primera Parte </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin70.pdf" target="_blank">Boletín 70. Globalización y Seguridad Alimentaria. Segunda Parte </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2008/boletin71.pdf" target="_blank">Boletín 71. De la Planificación Ambiental Territorial a la Cuenca Urbana Sostenible en Colombia </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2009</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin72.pdf" target="_blank">Boletín 72. La Restauración de los Ríos Urbanos  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin73.pdf" target="_blank">Boletín 73. Agua para Todos. El desastre en el río Mira  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin74.pdf" target="_blank">Boletín 74. Apuntes para una Historia Ambiental de América Latina </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin75.pdf" target="_blank">Boletín 75. El Territorio: Más allá de las Fronteras Político-administrativas- Parte I  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin76.pdf" target="_blank">Boletín 76. El Territorio: Más allá de las Fronteras Político-administrativas- Parte II </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin77.pdf" target="_blank">Boletín 77. Los Ecoparques: Universidades Populares de la Naturaleza </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin78.pdf" target="_blank">Boletín 78. Una Visión del Recurso Agua desde la Dinámica Fluvial</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin79.pdf" target="_blank">Boletín 79. El papel de la Arquitectura en la Conformación de Sociedad </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin80.pdf" target="_blank">Boletín 80. La Modelación Física como Herramienta en la Toma de Decisiones </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2009/boletin81.pdf" target="_blank">Boletín 81. Reflexión sobre el Proceso de Monitoreo Hidroclimatológico en el Parque Nacional Natural Los Nevados </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2010</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin82.pdf" target="_blank">Boletín 82. Curitiba, Brasil: Avances y Retos Hacia su Sostenibilidad </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin83.pdf" target="_blank">Boletín 83. El Comparendo Ambiental y la Dimensión Ecológica </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin84.pdf" target="_blank">Boletín 84. El Laboratorio del Hábitat como Estrategia para el Mejoramiento de la Sustentabilidad y la Habitabilidad </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin85.pdf" target="_blank">Boletín 85. Ciudad Productiva o Ciudad Rentista </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin86.pdf" target="_blank">Boletín 86. La Calidad del Paisaje y su Sostenibilidad en Ciudades de Media Montaña Andina </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin87.pdf" target="_blank">Boletín 87. In Memóriam Mélida Restrepo de Fraume. La Montaña Andina Tropical </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin88.pdf" target="_blank">Boletín 88. Agua que no Has de Beber… Déjala Correr</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin89.pdf" target="_blank">Boletín 89. ¿Ordenar Qué? ¿Insistir en lo Urbano y no en lo Rural?  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin90.pdf" target="_blank">Boletín 90. Las Lecciones del Ruiz a los 25 Años del Desastre de Armero </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2010/boletin91.pdf" target="_blank">Boletín 91. Educación para la Participación Ciudadana </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2011</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin92.pdf" target="_blank">Boletín 92. Saneamiento Ambiental </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin93.pdf" target="_blank">Boletín 93. Distribución de la Lluvia en Manizales</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin94.pdf" target="_blank">Boletín 94. La Aventura Estética del Pensamiento Ambiental</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin95.pdf" target="_blank">Boletín 95. ¿Es Manizales una Ciudad Verde?  </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin96.pdf" target="_blank">Boletín 96. Análisis de la Variabilidad Espacial y Temporal de la Precipitación sobre la Ciudad de Manizales </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin97.pdf" target="_blank">Boletín 97. La Adaptación al Cambio Climático</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin98.pdf" target="_blank">Boletín 98. Ecoparque Central Universitario, un Corazón Verde para la Ciudad</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin99.pdf" target="_blank">Boletín 99. Paisaje Cultural Cafetero</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin100.pdf" target="_blank">Boletín 100. La Valorización del Espacio, perspectiva Ambiental </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin101.pdf" target="_blank">Boletín 101. El Comercio de Fauna y Flora Silvestre en Caldas, otra Amenaza Ambiental</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2011/boletin102.pdf" target="_blank">Boletín 102. ¿Se Presenta en Manizales el Fenómeno de Isla de Calor Urbana? </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2012</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin103.pdf" target="_blank">Boletín 103. El Plan de Ordenamiento Territorial -POT- Deberá Atender con Mayor Rigurosidad la Gestión de Riesgo contra Incendios </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin104.pdf" target="_blank">Boletín 104. Gestión del Riesgo por Sismos, Volcanes y Laderas en la Política Ambiental de Manizales</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin105.pdf" target="_blank">Boletín 105. Los Biociudadanos. La Clave para Vivir en Armonía con el Entorno. Primera Parte</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin106.pdf" target="_blank">Boletín 106. Educación de Biociudadanos: Una Realización que no Permite la Separación entre el Conocimiento Instrumental y la Formación Moral del Individuo </a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin107.pdf" target="_blank">Boletín 107. Evaluación del Riesgo con Técnicas Probabilistas y su Incorporación en los Planes de Ordenamiento Territorial. El Caso de Manizales </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin108.pdf" target="_blank">Boletín 108. La Vulnerabilidad de las Redes de Drenaje y el Impacto de los Sedimentos Urbanos sobre estas</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin109.pdf" target="_blank">Boletín 109. Amenaza por Actividad Antrópica y Efectos en la Movilidad en el Centro Histórico de Manizales</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin110.pdf" target="_blank">Boletín 110. Las Áreas Naturales Protegidas, un Mecanismo para la Conservación de la Biodiversidad del departamento de Caldas</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin111.pdf" target="_blank">Boletín 111. Sostenibilidad Urbana de Pequeñas o Medianas Ciudades de América Latina</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2012/boletin112.pdf" target="_blank">Boletín 112. Sistema de Gestión Ambiental para la Universidad Nacional de Colombia Sede Manizales</a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2013</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin113.pdf" target="_blank">Boletín 113. Plan de Manejo Ambiental vereda El Arenillo </a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin114.pdf" target="_blank">Boletín 114. Urbanización sin Límites: Un Fenómeno que Vence los Umbrales de la Lógica</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin115.pdf" target="_blank">Boletín 115. Presiones, Impactos y Efectos Antrópicos sobre los Ríos</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin116.pdf" target="_blank">Boletín 116. La Catedral Basílica de Manizales Símbolo de la Cultura Local de la Gestión del Riesgo en la ciudad de Manizales (Colombia). Primera Parte</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin117.pdf" target="_blank">Boletín 117. La Catedral Basílica de Manizales Símbolo de la Cultura Local de la Gestión del Riesgo en la ciudad de Manizales (Colombia). Segunda Parte</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin118.pdf" target="_blank">Boletín 118. Eubyosis: Un Nuevo Paradigma de Salud Humana</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2013/boletin119.pdf" target="_blank">Boletín 119. El Agua en el Contexto Nacional y Regional</a> </span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2014</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2014/boletin120.pdf" target="_blank">Boletín 120. ¿Manizales Sostenible?</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2014/boletin121.pdf" target="_blank">Boletín 121. El barrio González en la cuenca La Arboleda, una ocupación no planificada</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2014/boletin122.pdf" target="_blank">Boletín 122. Aprovechamiento de los estériles de Marmato</a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2015</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin123.pdf" target="_blank">Boletín 123. La Gestión Posconsumo como Herramienta para la Adecuada Disposición Final de Residuos Sólidos Peligrosos</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin124.pdf" target="_blank">Boletín 124. Bodega de Datos Ambientales, Procesamiento y Análisis de Información Ambiental</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin125.pdf" target="_blank">Boletín 125. Ciudades Resilientes ante el Cambio Climático Estrategias de Forestación caso CA MAU- Vietnam</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin126.pdf" target="_blank">Boletín 126. Noroccidente de Caldas Un Territorio Forjado en Oro, Panel y Café</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin127.pdf" target="_blank">Boletín 127. El Paisaje Cultural y la Cultura Local del Riesgo. Estudio de caso Manizales, Colombia</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2015/boletin128.pdf" target="_blank">Boletín 128. Chinchiná Río De Oro </a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2016</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin129.pdf" target="_blank">Boletín 129. Análisis de las Señales de un Radar Pluviométrico Experimental</a> </span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin130.pdf" target="_blank">Boletín 130. Módulo de Abastecimiento Esencial Agua y Vida</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin131.pdf" target="_blank">Boletín 131. Concreto Ecológico a Partir de Material PET, Vidrio y Tapas de Bebidas Refrescantes y Alcohólicas</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin132.pdf" target="_blank">Boletín 132. Escuela Rural Pasiva para Zonas del Pacífico Colombiano</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin133.pdf" target="_blank">Boletín 133. Desde la Literatura Comprendemos el Medio Ambiente. Enrique Arbeláez Mutis</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2016/boletin134.pdf" target="_blank">Boletín 134. Del Mar al Monte… un Proceso de Reubicación Marcado por la Violencia. Nayive García Ramírez</a></span></h3>
<p>&nbsp;</p>
<h3 class="text-left">Boletines Ambientales 2017</h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2017/boletin135.pdf" target="_blank">135. El Cuidado de la Casa Común: Agua y Clima. Gonzalo Duque Escobar.</a></span></h3>
<h3 class="text-left"><span style="color: rgb(179, 95, 0);"><a title="Initiates file download" class="download" href="http://localhost/www/fileadmin/BOLETINES/BOLETINES_AMBIENTALES/BOLETINES_AMBIENTALES_2017/boletin136.pdf" target="_blank">136. El Laboratorio de Hidráulica “Jorge Ramírez Giraldo” en sus treinta años. Fernando Mejía Fernández. 2017.</a></span></h3>
<p>&nbsp;</p>
