<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!--
		IMPORTANT: The stylesheet link below is only for testing the template file directly in a browser while editing it.
		On the website the css styles for tt_news have to be include with the static TS template "default CSS style (tt_news)" or
		with an external file (see tt_news/res/tt_news_v2_styles.css) which you include via TypoSript in the "page" object.

 -->
	<title>jfmulticontent example template</title>
</head>

<body>


<br />
<br />
<br />
<h1>JFMULTICONTENT NEWS TEMPLATES</h1>
<h2>EXAMPLE</h2>



<br />
<br />
<br />

<hr /><br />
<h3>TEMPLATE_LIST_ACCORDION</h3>
<em>shows a list of news in jQuery UI accordion</em><br />

<!-- ###TEMPLATE_LIST_ACCORDION### begin
	This is the template for the list news, typically displayed on a frontpage
-->
<div id="news-list-container">
###NEWS_CATEGORY_ROOTLINE###
	<div id="news-list-accordion">
		<!-- ###CONTENT### begin -->
			<!-- ###NEWS### begin -->
			<h3><a href="#news-list-accordion-###NEWS_UID###">###NEWS_TITLE###</a></h3>
			<div>
				<span class="news-list-date">###NEWS_DATE###</span>
				<h2><!--###LINK_ITEM###-->###NEWS_TITLE###<!--###LINK_ITEM###--></h2>
				<!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
				<h3>###NEWS_SUBHEADER###</h3>
				###NEWS_CONTENT###
				###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
				<hr class="clearer" />
			</div>
			<!-- ###NEWS### end-->
		<!-- ###CONTENT###  end -->
	</div>
	<div class="news-list-gotoarchive"><!--###LINK_ARCHIVE###-->###GOTOARCHIVE###<!--###LINK_ARCHIVE###--></div>
###BROWSE_LINKS###
</div>
<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery('#news-list-accordion').accordion({
		collapsible: true,
		active: 0,
		animated: 'slide'
	});
});
/*]]>*/
</script>
<!-- ###TEMPLATE_LIST_ACCORDION### end -->



<br />
<br />
<br />

<hr /><br />
<h3>TEMPLATE_LIST_SLIDER</h3>
<em>shows a list of news in anythingSlider</em><br />

<!-- ###TEMPLATE_LIST_SLIDER### begin
	This is the template for the list news, typically displayed on a frontpage
-->

<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery('#news-list-slider').anythingSlider({
		resizeContents: true,
		easing: 'easeOutBack',
		animationTime: 1000,
		autoPlay: true,
		hashTags: true,
		startStopped: false,
		pauseOnHover: true,
		buildNavigation: true,
		startText: 'Go',
		stopText: 'Stop',
		navigationFormatter: function(i,p){
			var str = 'Panel %i%';
			return str.replace('%i%',i);
		}
	});
});
/*]]>*/
</script>
<style type="text/css">
#news-list-slider {
	width: 580px;
	height: 400px;
}
</style>
<!-- ###TEMPLATE_LIST_SLIDER### end -->



<br />
<br />
<br />

<hr /><br />
<h3>TEMPLATE_LIST_SLIDEDECK</h3>
<em>shows a list of news in SlideDeck</em><br />

<!-- ###TEMPLATE_LIST_SLIDEDECK### begin
	This is the template for the list news, typically displayed on a frontpage
-->
<div class="tx-jfmulticontent-pi1">
	<div id="news-list-container">
	###NEWS_CATEGORY_ROOTLINE###
		<div class="skin-slidedeck" style="height: 500px;">
			<dl id="news-list-slidedesk" class="slidedeck">
			<!-- ###CONTENT### begin -->
				<!-- ###NEWS### begin -->
				<dt>###NEWS_TITLE###</dt>
				<dd>
					<span class="news-list-date">###NEWS_DATE###</span>
					<!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
					<h3>###NEWS_SUBHEADER###</h3>
					###NEWS_CONTENT###
					###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
				</dd>
				<!-- ###NEWS### end -->
			<!-- ###CONTENT### end -->
			</dl>
		</div>
		<div class="news-list-gotoarchive"><!--###LINK_ARCHIVE###-->###GOTOARCHIVE###<!--###LINK_ARCHIVE###--></div>
		###BROWSE_LINKS###
	</div>
</div>
<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery('#news-list-slidedesk').slidedeck({
		speed: 500,
		transition: 'easeOutBounce'
	});
});
/*]]>*/
</script>
<!-- ###TEMPLATE_LIST_SLIDEDECK### end -->



<br />
<br />
<br />

<hr /><br />
<h3>TEMPLATE_LIST_EASYACCORDION</h3>
<em>shows a list of news in EASYACCORDION</em><br />

<!-- ###TEMPLATE_LIST_EASYACCORDION### begin
	This is the template for the list news, typically displayed on a frontpage
-->
<div class="tx-jfmulticontent-pi1">
	<div id="news-list-container">
	###NEWS_CATEGORY_ROOTLINE###
		<div id="news-list-easy-accordion" class="easy-accordion-###EASY_ACCORDION_SKIN###">
			<dl>
			<!-- ###CONTENT### begin -->
				<!-- ###NEWS### begin -->
				<dt>###NEWS_TITLE###</dt>
				<dd>
					<span class="news-list-date">###NEWS_DATE###</span>
					<!--###LINK_ITEM###-->###NEWS_IMAGE###<!--###LINK_ITEM###-->
					<h3>###NEWS_SUBHEADER###</h3>
					###NEWS_CONTENT###
					###CATWRAP_B### ###TEXT_CAT### ###NEWS_CATEGORY### ###NEWS_CATEGORY_IMAGE### ###CATWRAP_E###
				</dd>
				<!-- ###NEWS### end -->
			<!-- ###CONTENT### end -->
			</dl>
		</div>
		<div class="news-list-gotoarchive"><!--###LINK_ARCHIVE###-->###GOTOARCHIVE###<!--###LINK_ARCHIVE###--></div>
		###BROWSE_LINKS###
	</div>
</div>
<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery('#news-list-easy-accordion').easyAccordion({
	});
});
/*]]>*/
</script>
<!-- ###TEMPLATE_LIST_EASYACCORDION### end -->

<br />
<br />
<br />


</body>
</html>
